.gal{
    display: flex;
    justify-content: center;
    direction: rtl;   
    background: rgba(255, 249, 249, 0.781);
    margin-top: 50px;
    margin-left:100px;
    margin-right:100px;
    box-shadow: 10px 10px 10px 10px;
  border-radius: 12px 12px 12px 12px;
  position: relative; 
  animation-name: example;
  animation-duration: 0.5s;
}



@keyframes example {
  0%   {background-color:rgba(242, 242, 242, 0); left:0px; top:200px;}
  50%  {background-color:rgba(175, 175, 182, 0); left:0px; top:200px;}
  75%  {background-color:rgba(0, 128, 0, 0); left:0px; top:200px;}
  100% {background-color:rgba(255, 0, 0, 0); left:0px; top:0px;}
} 



@media only screen and (max-width: 1200px){

  .gal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    direction: rtl;   
    background: rgba(255, 249, 249, 0.597);
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px ;
    box-shadow: 10px 10px 10px 10px;

  position: relative; 
  animation-name: example;
  animation-duration: 0.5s;

}



@keyframes example {
  0%   {background-color:rgba(242, 242, 242, 0); left:0px; top:200px;}
  50%  {background-color:rgba(175, 175, 182, 0); left:0px; top:200px;}
  75%  {background-color:rgba(0, 128, 0, 0); left:0px; top:200px;}
  100% {background-color:rgba(255, 0, 0, 0); left:0px; top:0px;}
}


}




@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/

  .gal{
    direction: rtl;   
    background: rgba(255, 249, 249, 0.58);
    box-shadow: 10px 10px 10px 10px;
  position: relative; 
  animation-name: example;
  animation-duration: 0.5s;

}



@keyframes example {
  0%   {background-color:rgba(242, 242, 242, 0); left:0px; top:200px;}
  50%  {background-color:rgba(175, 175, 182, 0); left:0px; top:200px;}
  75%  {background-color:rgba(0, 128, 0, 0); left:0px; top:200px;}
  100% {background-color:rgba(255, 0, 0, 0); left:0px; top:0px;}
}

}