
.img-logo{
    width: 80px;
}

.app-bar{
    display: flex;
    background-image: url("../images/gym.jpeg");
    justify-content: center;
    width: 100%;

}

.links{
    display: flex;
    flex-direction: row;
    
}

.links > :link{
    margin: 9px;
    text-decoration: none;
}
.links> :hover{
    background: black;
    color: white;
    margin: 3px;
    border-radius: 50px 50px 50px 50px ;
    transform: scaleY(1.5);
} 

.home{
    color: wheat;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}

.training{
    color: wheat;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.before-after{
    color: wheat;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact{
    color: wheat;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  
 






 @media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/


    .img-logo{
        width: 80px;
    }
    
    .app-bar{
        display: flex;
        background-image: url("../images/gym.jpeg");
        justify-content: center;
    }
    
    .links{
        display: flex;
        flex-direction: row;
    }
    
    .links > :link{
        display: flex;
        margin: 7px;
        text-decoration: none;
    }

    .links > :hover{
        background: black;
        color: white;
        padding: 2px;
        border-radius: 50px 50px 50px 50px ;
    }

    .home{
    color: wheat;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }



.training{
    color: wheat;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.before-after{
    color: wheat;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact{
    color: wheat;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  

}




@media only screen and (max-width: 600px){


.img-logo{
    width: 40%;
}

.app-bar{
    display: flex;
    background-image: url("../images/gym.jpeg");
    text-align: center;
    width: 100%;
}

.links{
    display: flex;
    flex-direction: column;
}

.links > :link{
 
    text-decoration: none;
}
.links> :hover{
    background: black;
    color: white;
    margin: 3px;
    border-radius: 50px 50px 50px 50px ;
} 

.home{
    color: wheat;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.training{
    color: wheat;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.before-after{
    color: wheat;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact{
    color: wheat;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  
 

}




@media only screen and (max-width: 320px){


    .img-logo{
        width: 120px;
        height: 100px;
    }
    
    .app-bar{
        display: flex;
        background-image: url("../images/gym.jpeg");
        text-align: center;
    }
    
    .links{
        display: flex;
        flex-direction: column;
    }
    
    .links > :link{
     
        text-decoration: none;
    }
    .links> :hover{
        background: black;
        color: white;
        margin: 3px;
        border-radius: 50px 50px 50px 50px ;
    } 
    
    .home{
        color: wheat;
        font-weight: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .training{
        color: wheat;
        font-weight: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .before-after{
        color: wheat;
        font-weight: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .contact{
        color: wheat;
        font-weight: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }  
     
    
    }
    