.title-training{
    display: flex;
    justify-content: center;
    position: relative; 
    animation-name: example;
    animation-duration: 0.6s;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.allPage{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
   width: 100%;
}


 
 .allTraining{
    box-shadow: 10px 10px 10px 10px black;
    margin: 25px;
    background: white;
    height: 100%;
    position: relative; 
    animation-name: example;
    animation-duration: 0.6s;
    text-align: center;

}

.typography{
    display: flex;
    background: white;
    color: black;
    justify-content: center;
    padding: 5px;
    position: relative; 
    animation-name: example;
    animation-duration: 2s;
}  





@keyframes example {
    0%   {background-color:rgba(242, 242, 242, 0); left:0px; top:200px;}
    50%  {background-color:rgba(175, 175, 182, 0); left:0px; top:200px;}
    75%  {background-color:rgba(0, 128, 0, 0); left:0px; top:200px;}
    100% {background-color:rgba(255, 0, 0, 0); left:0px; top:0px;}
  }

 




@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/

    .title-training{
        display: flex;
        justify-content: center;
        position: relative; 
        animation-name: example;
        animation-duration: 0.6s;
   
    }
    
    
    .allPage{
        display: flex;
        flex-wrap: wrap;
       text-align: center;
    }
    
    
     
     .allTraining{
    box-shadow: 10px 10px 10px 10px black;
    margin: 80px;
       background: white;
       position: relative; 
       animation-name: example;
       animation-duration: 0.6s;
       text-align: center;
       border-radius: 30px 30px 3px 30px;
   
    } 
   
    
    
    .typography{
        display: flex;
        background: white;
        color: black;
        justify-content: center;
        padding: 5px;
        box-shadow: 10px 10px 10px 10px black;
        position: relative; 
        animation-name: example;
        animation-duration: 2s;
        border-radius: 30px 30px 3px 30px;
    }  
     
    
    
    @keyframes example {
        0%   {background-color:rgba(242, 242, 242, 0); left:0px; top:200px;}
        50%  {background-color:rgba(175, 175, 182, 0); left:0px; top:200px;}
        75%  {background-color:rgba(0, 128, 0, 0); left:0px; top:200px;}
        100% {background-color:rgba(255, 0, 0, 0); left:0px; top:0px;}
      }
    

}




@media only screen and (max-width: 800px){
	/*Big smartphones [426px -> 600px]*/

    .title-training{
        display: flex;
        justify-content: center;
        position: relative; 
        animation-name: example;
        animation-duration: 0.6s;
   
    }
    
    
    .allPage{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
     
    }
    
    
     
     .allTraining{
    box-shadow: 10px 10px 10px 10px black;
       margin: 20px;
       background: white;
       position: relative; 
       animation-name: example;
       animation-duration: 0.6s;
       text-align: center;
       border-radius: 30px 30px 3px 30px;

    } 
    
    
    .typography{
        display: flex;
        background: white;
        color: black;
        justify-content: center;
        padding: 5px;
        box-shadow: 10px 10px 10px 10px black;
        position: relative; 
        animation-name: example;
        animation-duration: 2s;
        border-radius: 30px 30px 3px 30px;
    }  
     
    
    
    @keyframes example {
        0%   {background-color:rgba(242, 242, 242, 0); left:0px; top:200px;}
        50%  {background-color:rgba(175, 175, 182, 0); left:0px; top:200px;}
        75%  {background-color:rgba(0, 128, 0, 0); left:0px; top:200px;}
        100% {background-color:rgba(255, 0, 0, 0); left:0px; top:0px;}
      }
    
}


@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/

    .title-training{
        display: flex;
        justify-content: center;
        position: relative; 
        animation-name: example;
        animation-duration: 0.6s;
    }
    
    
    .allPage{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
     
    }
    
    
     
     .allTraining{
    box-shadow: 10px 10px 10px 10px black;
       margin: 20px;
       background: white;
       position: relative; 
       animation-name: example;
       animation-duration: 0.6s;
       text-align: center;
       border-radius: 30px 30px 3px 30px;
      width: 500px;
    } 
    
    
    .typography{
        display: flex;
        background: white;
        color: black;
        justify-content: center;
        padding: 5px;
        box-shadow: 10px 10px 10px 10px black;
        position: relative; 
        animation-name: example;
        animation-duration: 2s;
        border-radius: 30px 30px 3px 30px;
    }  
     
    
    
    @keyframes example {
        0%   {background-color:rgba(242, 242, 242, 0); left:0px; top:200px;}
        50%  {background-color:rgba(175, 175, 182, 0); left:0px; top:200px;}
        75%  {background-color:rgba(0, 128, 0, 0); left:0px; top:200px;}
        100% {background-color:rgba(255, 0, 0, 0); left:0px; top:0px;}
      }
    
}



@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/

    .title-training{
        display: flex;
        justify-content: center;
        position: relative; 
        animation-name: example;
        animation-duration: 0.6s;
      
    }
    
    
    .allPage{
        display: flex;
        justify-content: center;
    }
    
    
     
     .allTraining{
    box-shadow: 10px 10px 10px 10px black;
       background: white;
       position: relative; 
       animation-name: example;
       animation-duration: 0.6s;
       text-align: center;
       border-radius: 30px 30px 3px 30px;
    } 
    

    
    .typography{
        display: flex;
        background: white;
        color: black;
        justify-content: center;
        padding: 5px;
        box-shadow: 10px 10px 10px 10px black;
        position: relative; 
        animation-name: example;
        animation-duration: 2s;
        border-radius: 30px 30px 3px 30px;
    }  
     
    
    
    @keyframes example {
        0%   {background-color:rgba(242, 242, 242, 0); left:0px; top:200px;}
        50%  {background-color:rgba(175, 175, 182, 0); left:0px; top:200px;}
        75%  {background-color:rgba(0, 128, 0, 0); left:0px; top:200px;}
        100% {background-color:rgba(255, 0, 0, 0); left:0px; top:0px;}
      }
    
 
}
